<mat-card class="example-card">
    <h2>Description</h2>
    <div class=flex_space_around>
        <div>
            <img mat-card-image src="assets/img/maison_vue_devant.jpg" class="maison_vue_devant ml-5px"
                alt="maison_vue_devant">
        </div>
        <div class="ml-2">
            <p> Les propriètaires, Aline et Patrick vous accueillent dans cette jolie petite maison familiale, classée
                3*,
                très bien placée.
            </p>
            <p>A 200 m du bassin d 'Arcachon et du centre ville, la maison Relax peut acceuillir 5 personnes. Elle
                possède 1
                chambre avec un lit de 160, et une deuxième chambre avec lit de 140, (possibilité de louer le linge de
                maison),
                1 salon, salle à manger avec canapé lit de 140, 1 cuisine équipée(machine à laver la vaisselle,
                micro-ondes, frigo
                avec congélateur, cuisinière à gaz...), 1 salle de bain, 1 WC séparé, un lave linge, 1 barbecue, 1
                terrasse
                ombragée, 1 grand jardin clôturé, transats, 6 vélos, garage extérieur, connexion WIFI gratuite .<br />
                Cette location est très calme, et située à côté de la place du marché qui a lieu tous les Mardis.
                La ville d'Arès est idéalement placée; il faut 20 min pour se rendre au Cap Ferret et 35 min à Bordeaux.
                De plus, à 10 min, se trouvent les plages de sable fin du Grand Crohot, du Cap-Ferrret et du
                Porge.<br />
                La fête traditionnelle de l' huître a lieu tous les ans pour le 15 Août.
                Découverte du bassin d' Arcachon( le banc d'Arguin, dune du Pyla...), balade en bateau, dégustation
                d'huîtres,
                pêche, surf.
            </p>
            <p>Nouveau: un centre de Thalassothérapie Serge Blanco vient de s' ouvrir à Claouey à 5 km.</p>

        </div>
    </div>
</mat-card>